body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: absolute;
}
div#topo{
    background-color: rgb(49, 49, 49);
    margin: auto;
    width: 100%;
    height: 5%;
    float: right;
}
div#menulateral {
    background-color: rgb(40, 40, 40);
    margin: 0;
    width: 5%;
    position: relative;
    height: 97%;
}
div#container{
    background-color: rgb(27, 27, 27);
    width: 95%;
    height: 95%;
    float: right;
}



ul#nav {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul#nav li {
    margin-bottom: 10px;
    
}
div#conteudo{
    float: right;
    width: 92%;
    height: 90%;
    position: relative;
    padding: 20px;
}

div#linhas {
    position: relative;
    width: 45px;
}
div#linhas ul{
    padding-top: 5px;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    width: 45px;
    margin: 0;
    border-right: rgb(73, 73, 73) solid 1px;
}
div#linhas ul li {

    width: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
    color: rgb(70, 70, 70);
    text-align: right;
    
}

div#rodape {
    background-color: rgb(45, 142, 233);
    position: absolute;
    width: 100%;
    height: 20px;
}
div#master {
    width: 20px;
    position: relative;
    float: left;
    height: 20px;
    color: white;
    margin-left: 2%;
}
div#ln{
    position: relative;
    float: right;
    color: white;
    width: 7%;
    margin-right: 20px;
    height: 20px;
    
}
.fill {
        
    background: -webkit-linear-gradient(left, #0d7204 0%, #5ef159 100%);
    background: linear-gradient(to right,#0d7204 0%, #5ef159 100%);

    -webkit-text-fill-color: transparent;
}
img#foto{
    margin-left: 200px;
    
}
#trybe{
    position:relative;
    top:-300;
    left:280px;
}
div#spaces{
    position: relative;
    float: right;
    color: white;
    width: 5%;
    margin-right: 20px;
    height: 20px;
    
}
div#utf{
    position: relative;
    float: right;
    color: white;
    width: 4%;
    margin-right: 20px;
    height: 20px;
    
}
div#html{
    position: relative;
    float: right;
    color: white;
    width: 3.5%;
    margin-right: 20px;
    height: 20px;
    
}
div#css{
    position: relative;
    float: right;
    color: white;
    width: 2.5%;
    margin-right: 50px;
    height: 20px;
    
}
div#redes{
    position: absolute;
    
    margin-left: 60px;
    width: 90%;
    height: 30%;
}
div#linkedin{
    position: relative;
    float: left;
    margin-top: 100px;
}
div#github{
    position: relative;
    margin-left: 300px;
    margin-top: 100px;
    float: left;
}
div#insta{
    position: relative;
    margin-left: 200px;
    margin-top: 100px;
    float: left;
}
