.destaque {
    height: 100vh;
    margin-bottom: -150px;
}

.destaque-vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.destaque-horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.destaque-name {
    font-size: 60px;
    font-weight: 700;
}

.destaque-info {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}

.destaque-pontos {
    color: #46d369;

}

.destaque-pontos,
.destaque-ano,
.destaque-temporadas {
    margin-right: 15px;
    display: inline-block;
}

.destaque-desc {
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    max-width: 40%;
    /* Limitando textos Linhas */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
}

.destaque-buttons {
    margin-top: 10px;
}

.destaque-button1 {
    font-size: 12px;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 700;
    margin-right: 15px;
    background-color: #FFF;
    color: #000;
    opacity: 1;
    border: none;
}

.destaque-button2 {
    font-weight: 700;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 12px;
    background-color: #333;
    color: #FFF;
    opacity: 1;  
    border: none;
}

.destaque-button1:hover, 
.destaque-button2:hover {
    opacity: 0.8;
}

.destaque-geners {
    font-size: 18px;
    color: #999;
    margin-top: 10px;
}

@media (max-width: 760px) {
    .destaque {
        height: 80vh;
        margin-bottom: -70px;
    }
    .destaque-name {
        font-size: 35px;
    }
    .destaque-pontos,
    .destaque-ano,
    .destaque-temporadas {
        font-size: 16px;
    }
    .destaque-desc {
        font-size: 14px;
        max-width: 80%;
    }
    .destaque-geners {
        font-size: 14px;
    }
}